body {
	background-color: #f0f0f0;
}
.btn, .btn:visited {
	border-color: #e3e0cc;
	background-color: #e3e0cc;
	box-shadow: 2px 2px #aaaaaa;
}

.btn:hover, .btn:focus, .btn:active {
	background-color: #9fa9a3;
	border-color: #9fa9a3;
}

.spacing {
		display: inline-block;
		margin-right: 10px;
		padding-top: 3px;
		padding-bottom: 7px;
}

.panel-body, .well {
	background-color: #c5d5c5;
}

.panel-default>.panel-heading {
	background-color: #e3e0cc;
}
#searchBar {
	margin-bottom: 10px;
	background-color: #f0f0f0;
}